<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <script src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />

        <h1>Rango says hey there partner!</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <a href="{% url 'rango:about' %}">About</a><br />
            <a href="{% url 'rango:index' %}">Back to the index</a>

        </div>
    </body>
</html>


